.intro-section {
    border-top: .5px solid #e7e7e7;
    padding: 30px 100px 70px 100px;
    
    .intro-section-cards {
        display: flex;
        justify-content: center;
        margin: 0 0 70px 0;
    }
}