.mypage-myinfo {
  text-align: left;
  margin-top: 30px;

  .myinfo-title {
    margin: 50px 0 0 30px;
  }

  .myinfo-contents {
    display: flex;

    .myinfo-contents-detail {
        display: block;
        margin: auto 0 auto 30px;
        width: 100%;

        .myinfo-contents-first {
        margin: 10px 0 0 0;
        
          .myinfo-first-items {
              margin-right: 5px; 
          }
        }
        
        .myinfo-contents-second {
          margin: 10px 0;
  
          .myinfo-second-items {
              display: block;
          }
        }
    }  
    .myinfo-edit {
      margin: auto 0;
      text-align: right;
      width: 100%;
      
      .btn-edit {
        background-color: #707070;
        color: white;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 14px;
      }
    }
  }
}
