.mypage-container {
  display: flex;
  width: 100%;
  position: relative;
  text-align: center;

  .mypage-contents {
    display: block;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 15rem);
    justify-content: center;
    margin: 0 145px 0 80px;
    padding: 3.5rem 0 3rem 0;

    .mypage-title {
      font-size: 20px;
      font-weight: 300;
      text-align: left;
    }
  }
}
