.section-header {
    display: block;
    text-align: center;
    .section-header-title {
        font-size: 30px;
        padding: 80px 0 10px 0;
    }
    .section-header-subtitle {
        font-size: 18px;
        margin: 15px 0;
    }
}